@import "zerostyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&display=swap");
body {
  background-color: #daa520;
}
.notebook {
  background-color: white;
  width: 700px;
  margin: 0 30%;
  min-height: 100vh;
  position: absolute;
  box-shadow: 20px 20px 10px 0px rgba(0, 0, 0, 0.35);
}
i {
  cursor: pointer;
  font-size: 50px;
  color: lightpink;
  margin-left: 100px;
  margin-right: 15px;
}
h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 56px;
  margin-top: 30px;
}
#userInput {
  font-family: "Pacifico", cursive;
  border-bottom: 5px solid #a0a0a0;
  width: 400px;
  font-size: 25px;
}
.input-container {
  display: flex;
  margin-top: 50px;
}
h2 {
  font-family: "Pacifico", cursive;
  font-size: 40px;

  margin: 45px 50px 0px 120px;
  cursor: pointer;
  user-select: none;
  word-wrap: break-word;
}
#groceryItems {
  margin-top: 50px;
}
